# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log

# Coverage reports
coverage/

# OS and Editor files
.DS_Store
Thumbs.db

# Build and temporary files
dist/
tmp/
.cache/
